/*.nav-link a:hover {
    opacity: 1;
    color: rgb(102, 99, 99);
    text-decoration: none;
    background-color: white;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}*/