.App {
  /*display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;*/
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(225, 255, 255, 0.3)
  ),
  url("https://img.freepik.com/premium-vector/abstract-white-grey-background_528453-7.jpg?w=2000");
  background-size: cover;
  background-position: center;
}